spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${SSO_JWK_SET_URI:http://localhost:8180/auth/realms/ERP/protocol/openid-connect/certs}
  jackson:
    default-property-inclusion: non_null
    serialization:
      fail-on-empty-beans: false
      close-closeable: true
      flush-after-write-value: true
      write-date-keys-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  datasource:
    url: ${DB_JDBC_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: ${DB_JDBC_DRIVER}
  jpa:
    open-in-view: false
    properties:
      jakarta:
        persistence:
          sharedCache:
            mode: UNSPECIFIED
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: validate
  servlet:
    multipart:
      enabled: true
      max-file-size: 1000MB
      max-request-size: 1000MB
  flyway:
    baseline-on-migrate: true
    baseline-version: 0
    table: flyway_schema_history
    locations: db/migration,db/importMigration
    validate-on-migrate: true

sso:
  client-id: ${SSO_CLIENT_ID:erp}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:4200}

management:
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: health, prometheus
      base-path: /status
  endpoint:
    health:
      enabled: true
      probes:
        enabled: true
    prometheus:
      enabled: true
  server:
    port: 8090


server:
  servlet:
    context-path: /api
  compression:
    enabled: true
    min-response-size: 2048
  port: 8080
  error:
    path: /user/error
    whitelabel:
      enabled: true

logging:
  level:
    root: ${LOG_LEVEL:INFO}

async:
  core-pool-size: 5
  max-pool-size: 20
  queue-capacity: 50
  keep-alive-seconds: 60
  wait-for-tasks-to-complete-on-shutdown: true
  rejected-execution-handler-policy: abort # Options: abort, callerruns, discard, discardoldest
